[submodule "stable"]
	path = stable
	url = https://github.com/NixOS/nixpkgs-channels
	branch = nixos-20.09-small
[submodule "unstable"]
	path = unstable
	url = https://github.com/NixOS/nixpkgs-channels
	branch = nixos-unstable-small
