[submodule "stable"]
	path = stable
	url = https://github.com/NixOS/nixpkgs
	branch = nixos-23.05-small
[submodule "unstable"]
	path = unstable
	url = https://github.com/NixOS/nixpkgs
	branch = nixos-unstable-small
